.post-styles {
	p {
		line-height: 1.3;
		margin: 10px 0;
		font-size: 24px;
		color: $dblack;
		@include font-stack-brand;
		@include bp(neptune) {
			font-size: 20px;
		}
		@include bp(mercury) {
			font-size: 16px;
		}
	}
	h2 {
		font-size: 36px;
		line-height: 1;
		font-weight: 700;
		@include font-stack-brand;
		@include bp(earth) {
			font-size: 32px;
		}
		@include bp(mercury) {
			font-size: 28px;
		}
	}
	h3 {
		font-size: 32px;
		line-height: 1;
		font-weight: 700;
		@include font-stack-brand;
		@include bp(earth) {
			font-size: 28px;
		}
		@include bp(mercury) {
			font-size: 24px;
		}
	}
	h4 {
		font-size: 28px;
		line-height: 1;
		font-weight: 700;
		@include font-stack-brand;
		@include bp(earth) {
			font-size: 24px;
		}
		@include bp(mercury) {
			font-size: 20px;
		}
	}
	h5 {
		font-size: 24px;
		line-height: 1;
		font-weight: 700;
		@include font-stack-brand;
		@include bp(earth) {
			font-size: 20px;
		}
		@include bp(mercury) {
			font-size: 16px;
		}
	}
	a {
		color: $blue;
		@include font-stack-brand;
		&:hover, &:focus {
			color: $lightorange;
			transition: color .15s linear;
		}
	}
	strong {
		font-weight: 700;
	}
	em {
		font-style: italic;
		letter-spacing: .1;
	}
	img {
		padding: 0;
		margin: 0 0 0 20px;
		max-width: 70%;
		border: 5px solid $black;
		@include bp(earth) {
			float: none;
			display: block;
			margin: 25px auto;
		}
	}
	img.alignright {
		float: right;
		margin: 0 0 20px 20px;
		@include bp(earth) {
			float: none;
			display: block;
			margin: 25px auto;
		}
	}
	img.alignleft {
		float: left;
		margin: 0 20px 20px 0;
		@include bp(earth) {
			float: none;
			display: block;
			margin: 25px auto;
		}
	}
	img.aligncenter {
		display: block;
		margin: 25px auto;
	}
	a img.alignright {
		float: right;
		margin: 0 0 20px 20px;
		@include bp(earth) {
			float: none;
			display: block;
			margin: 25px auto;
		}
	}
	a img.alignleft {
		float: left;
		margin: 0 20px 20px 0;
		@include bp(earth) {
			float: none;
			display: block;
			margin: 25px auto;
		}
	}
	a img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	code[class*="language-"],
	pre[class*="language-"] {
		font-size: 24px;
		@include bp(earth) {
			font-size: 20px;
		}
		@include bp(venus) {
			font-size: 16px;
		}
	}
	ul {
		padding: 0;
		margin: 0 0 20px 20px;
		display: block;
		li {
			padding: 5px 0;
			margin: 0;
			width: 100%;
			float: left;
			@include bp(earth) {
				font-size: 18px;
			}
			@include bp(mercury) {
				font-size: 16px;
			}
		}
	}
	.media-wrap {
		max-width: 700px;
		text-align: center;
		margin: 25px auto;
	}
}

.user-meta-data {
	h3 {
		font-size: 30px;
		line-height: 1;
		font-weight: 700;
		padding: 15px 0 5px 0;
		margin: 10px 0 0 0;
		border-bottom: 1px dotted $gray;
		color: $blue;
		@include font-stack-brand;
		@include bp(earth) {
			font-size: 28px;
		}
		@include bp(mercury) {
			font-size: 24px;
		}
	}
	h4 {
		color: darken($gray, 20);
		font-size: 16px;
		padding: 15px 0 0 0;
		margin: -40px 0 0 0;
		font-style: italic;
		text-align: right;
		@include font-stack-brand;
		@include bp(mars) {
			display: none;
		}
	}
}

.blog-post-footer {
	padding: 10px 50px;
	width: 100%;
	max-width: 1280px;
	margin: 25px auto;
	@include bp(earth) {
		padding: 25px 10px;
	}
	.blog-post-meta {
		display: block;
		padding: 25px 10px 10px 10px;
		border-top: 1px solid $gray;
		> span {
			font-size: 18px;
			color: $mediumgray;
			@include font-stack-brand;
		}
		a {
			font-size: 18px;
			color: $blue;
			display: inline-block;
			background: transparent;
			@include font-stack-brand;
			&:hover, &:focus {
				color: $black;
				transition:  .25s color linear;
			}
		}
	}
}

.single-blog-wrap {
	background: $strongblue!important;
}

.blog-post-container {
	width: 80%;
	max-width: 1280px;
	margin: 50px auto 75px auto;
	box-shadow: 0 0 2px 0;
	background: $white;
	@include clearfix;
	@include bp(mercury) {
		width: 95%;
	}
	.blog-title {
		display: block;
		h2 {
			font-size: 64px;
			padding: 25px 50px 0 50px;
			font-weight: 700;
			line-height: 1;
			//border-bottom: 1px solid $gray;
			text-align: left;
			display: inline-block;
			@include font-stack-brand;
			@include bp(earth) {
				font-size: 36px;
				padding: 15px 10px;
				line-height: 1;
			}
		}
		h3 {
			color: darken($gray, 20);
			font-size: 20px;
			padding: 0 0 0 50px;
			font-style: italic;
			text-align: left;
			@include font-stack-brand;
			@include bp(earth) {
				font-size: 16px;
				line-height: 1;
				padding: 5px 0;
				margin: 0 20px;
				text-align: center;
				border-top: 1px dotted $gray;
			}
		}
	}
	.single-blog-post {
		padding: 25px 50px;
		@include bp(earth) {
			padding: 25px 10px;
		}
	}
}

.comment-heading {
	> span {
		color: $white;
		font-size: 72px;
		//font-weight: 700;
		@include font-stack-brand;
		@include bp(earth) {
			font-size: 48px;
		}
	}
}

.comments-reply-link {
	width: 100%;
	padding: 20px 0 0 0;
	font-size: 20px;
	color: $gray!important;
	display: block;
	text-align: right;
	&:hover, &:focus {
		color: $blue!important;
		transition: .15s color linear;
	}
}

.comment-heading span:before,
.comment-heading span:after {
	width: 90%;
	border-top: 1px solid $morange;
	@include bp(neptune) {
		width: 70%;
	}
	@include bp(earth) {
		width: 50%;
	}
	@include bp(venus) {
		width: 30%;
	}
}

.blog-comment-container {
	width: 100%;
	float: left;
	margin-bottom: 50px;
	@include clearfix;
	h2 {
		font-size: 42px;
		padding: 0 50px;
		width: 80%;
		max-width: 1280px;
		text-align: center;
		margin: 75px auto 50px auto;
	}
	.single-comment {
		padding: 10px 50px;
		width: 80%;
		max-width: 1280px;
		margin: 25px auto;
		box-shadow: 0 0 2px 0;
		background: $white;
		@include bp(earth) {
			padding: 0 10px 25px 10px;
		}
		.time-stamp-comment-main {
			margin-right: 20px;
		}
	}
}

.reply-wrap {
	position: relative;
	padding: 25px 0 25px 35px;
	@include bp(earth) {
		padding: 10px 0 0 10px;
	}
	.comment-reply {
		position: relative;
		width: 90%;
		background: darken($white, 2.5);
		padding: 5px 50px 25px 50px;
		margin: 5px 0 0 10%;
		box-shadow: 0 0 5px 0;
		@include bp(earth) {
			padding: 5px 10px 25px 10px;
		}
		.reply-icon-wrap {
			width: 100%;
			@include clearfix;
			.icon-strikethrough {
				width: 45%;
				@include bp(neptune) {
					width: 40%;
				}
			}
			.reply-icon-mark {
				width: 50px;
				@include bp(earth) {
					width: 40px;
				}
			}
		}
	}
}

.reply-icon-wrap {
	width: 100%;
	display: inline-block;
	margin-top: 0;
	@include clearfix;
	.icon-strikethrough {
		height: 10px;
		width: 45%;
		margin: 20px 0;
		border-top: 1px dotted $gray;
		display: inline-block;
		float: left;
	}
	.reply-icon-mark {
		height: 50px;
		width: 50px;
		float: left;
		display: inline-block;
		@include bp(earth) {
			float: none;
			height: 40px;
			width: 40px;
		}
		a {
			fill: darken($gray, 10);
			&:hover, &:focus {
				fill: $blue;
				transition: .25s fill linear;
			}
		}
	}
}

.user-comments {
	width: 100%;
	float: left;
	margin: 0 0 100px 0;
	.comment-form {
		width: 80%;
		margin: 0 10% 150px 10%;
		max-width: 1280px;
		background: lighten($gray, 10);
		display: block;
		margin: 50px auto 0 auto;
		box-shadow: 0 0 2px 0;
		.title-comments-form {
			font-size: 40px;
			line-height: 1;
			margin: 0 0 15px 2.5%;
		}
		.input-comments {
			padding-bottom: 25px;
			> span {
				width: 45%;
				margin: 0 0 15px 2.5%;
				font-size: 24px;
				display: inline-block;
				input {
					font-size: 24px;
					color: $black;
					margin: 0 25px 0 0;
					width: 100%;
					height: 50px;
					padding: 10px 0 10px 15px;
					border: 4px solid $gray;
					background: $white;
					@include font-stack-brand;
					&:focus {
						box-shadow: none;
						background: darken($white, 2);
					}
				}
				input::-webkit-input-placeholder {
					color: $gray;
					font-size: 16px;
					padding: 10px 0 0 5px;
				}
				input:focus::-webkit-input-placeholder {
					transition: opacity 0.1s 0.1s linear;
					opacity: 0;
				}
			}
			> .first-span {
				margin: 0 0 15px 2.5%;
			}
			.email-box {
				width: 95%;
				padding: 0;
				margin: 10px 2.5%;
				display: inline-block;
				input {
					background: $white;
					color: $black;
				}
				input::-webkit-input-placeholder {
					color: $gray;
					font-size: 16px;
					padding: 10px 0 0 5px;
				}
				input:focus::-webkit-input-placeholder {
					transition: opacity 0.1s 0.1s linear;
					opacity: 0;
				}
			}
			.msg-box {
				display: inline-block;
				width: 95%;
				padding: 0;
				margin: 10px 2.5%;
				textarea {
					padding: 10px 0 10px 15px;
					font-size: 24px;
					color: $black;
					height: 200px;
					box-sizing: border-box;
					width: 100%;
					border: 4px solid $gray;
					background: $white;
					@include font-stack-brand;
					&:focus {
						box-shadow: none;
						background: darken($white, 2);
						outline: 0;
					}
				}
				textarea::-webkit-input-placeholder {
					color: $gray;
					font-size: 16px;
					padding: 10px 0 0 5px;
				}
				textarea:focus::-webkit-input-placeholder {
					transition: opacity 0.1s 0.1s linear;
					opacity: 0;
				}
			}
			.submit-comment-button {
				width: 95%;
				padding: 0;
				margin: 10px 2.5%;
				height: 60px;
				line-height: 1;
				font-size: 24px;
				background: $black;
				display: inline-block;
				cursor: pointer;
				&:hover, &:focus {
					outline: 0;
					box-shadow: none;
					background: $gray;
					transition: background .25s linear;
				}
				.submit {
					display: block;
					width: 100%;
					text-align: center;
					.submit-icon-wrap {
						cursor: pointer;
						> h3 {
							color: $black;
							font-weight: 700;
							&:hover, &:focus {
								color: $gray;
								transition: .25s color linear;
							}
						}
					}
				}
			}
			input {
				padding: 4px 0;
				width: 100%;
				height: 50px;
				padding: 10px 0 10px 15px;
				font-size: 24px;
				color: darken($white, 20);
				box-sizing: border-box;
				border: 4px solid $gray;
				background: $white;
				@include font-stack-brand;
				&:focus {
					box-shadow: none;
					outline: 0;
					background: darken($white, 2);
				}
			}
		}
	}
}