.head-container {
	width: 100%;
	height: 100%;
	padding: 10px 0 0 0;
	border-bottom: 3px solid $morange;
	background: $lblack;
}

.head-wrap {
	max-width: 1280px;
	margin: 0 auto;
	@include clearfix;
	width: 100%;
	.wrapper {
		width: 45%;
		padding: 10px 0 0 10px;
		float: left;
		@include bp(neptune) {
			width: 80%;
			padding: 0;
			margin: 0 10%;
			text-align: center;
		}
		@include clearfix;
		a {
			padding: 20px 0 0 10px;
			line-height: 1;
			margin: 30px 0 0 20px;
			font-size: 48px;
			font-weight: 300;
			color: $white;
			width: 100%;
			text-align: left;
			cursor: pointer;
			@include font-stack-body;
			@include bp(neptune) {
				padding: 0;
				margin: 0;
			}
			@include bp(venus) {
				font-size: 36px;
			}
			@include bp(mercury) {
				margin: 15px 0 0 15px;
			}
		}
	}
	.menu {
		width: 50%;
		float: right;
		@include bp(neptune) {
			display: inline-block;
			width: 100%;
		}
		.nav-list {  //ul.active
			display: inline-block;
			padding: 12px 25px 0 0;
			float: right;

			@include bp(neptune) {
				display: none;
			}
			.contact-container {
				position: relative;
				padding: 0;
				a {
					color: $morange;
					background: none;
					padding: 5px 15px 10px 15px;
					margin: 5px 0;
					border-radius: 5px;
					display: inline;
					float: right;
					font-size: 24px;
					text-align: right;
					@include font-stack-body;
				}
				&:hover a, &:focus a {
					color: $white;
					transition: color .1s linear;
				}
				&:hover .triangle-marker, &:focus .triangle-marker {
					display: block;
					transition: .25s display linear;
					cursor: pointer;
				}
				.triangle-marker {
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid $morange;
					position: absolute;
					display: none;
				}
			}
			.contact-container:last-child {
				margin-right: 0;
			}
			@include bp(neptune) {
				float: right;
			}
		}
	}
}

.menu ul {
	@include bp(neptune) {
		width: 100%;
		position: absolute;
		top: 120%;
		right: 0;
	}
}

ul {
	display: inline-block;
	padding: 10px 0 85px 0;
	@include bp(neptune) {
		padding: 10px 0 35px 0;
	}
	@include bp(venus) {
		padding: 10px 0 20px 0;
	}
	@include clearfix;
	li {
		float: right;
		display: block;
		.icon {
			width: 75px;
			padding: 0;
			margin: 10px 0 0 0;
			fill: none;
			@include bp(neptune) {
				width: 50px;
				margin: 50px 0 30px 0;
			}
			.inner-icon {
				fill: $white;
			}
			&:hover, &:focus {
				//fill: $white;
				.inner-icon {
					fill: $blue;
					transition: fill 0.1s linear;
				}
			}
		}
		.facebook:hover, .facebook:focus {
			.inner-icon {
				fill: $facebookblue;
				transition: fill 0.1s linear;
			}
		}
		.linkedin:hover, .linkedin:focus {
			.inner-icon {
				fill: $linkedinblue;
			}
		}
		.twitter:hover, .twitter:focus {
			.inner-icon {
				fill: $twitterblue;
			}
		}
		.fallback {
			display: none;
		}
		.connector {
			width: 75px;
			height: 50px;
			margin: 50px 0 -25px 0;
			border-top: 2px solid $white;
			@include bp(neptune) {
				width: 25px;
				margin: 75px 0 -25px 0;
			}
		}
	}
}

.main-container {
	width: 100%;
	float: left;
	display: inline-block;
	@include clearfix;
	.about-container {
		position: relative;
		background: $black url('../images/content/baltimore.jpg') no-repeat center;
		background-size: cover;
		border-bottom: 3px solid $morange;
		.tint {
			background: rgba(26, 26, 26, 0.7);
		}
		.cont-about {
			padding: 50px 0 100px 0;
			margin: 0;
			display: block;
			text-align: center;
			@include bp(venus) {
				padding: 25px 0;
				margin: 0;
			}
			p {
				padding: 25px 0;
				margin: 0 auto;
				line-height: 1.2;
				font-size: 40px;
				text-align: center;
				@include bp(venus) {
					font-size: 24px;
					padding: 0;
				}
			}
			.logo {
				text-align: left;
				display: inline-block;
				@include bp(venus) {
					text-align: center;
					display: none;
				}
				span {
				    	img {
						display: inline-block;
						width: 250px;
						margin: 0 10px 0 0;
						border-radius: 50%;
						border: 7px solid none;
						@include bp(neptune) {
							width: 200px;
						}
					}
					.about-landing-page {
						width: 300px!important;
					}
				}
			}
			.wrapper {
				width: 100%;
				max-width: 1280px;
				padding: 25px 0 75px 0;
				margin: 0 auto;
				@include bp(venus) {
					padding: 10px 0 10px 0;
				}
				.thoughts {
					width: 80%;
					margin: 0 10%;
					@include bp(venus) {
						width: 95%;
						margin: 0 2.5% 25px 2.5%;
					}
					p {
						padding: 5%;
						color: $white;
						@include font-stack-brand;
					}
					.contact-submission-confirmation {
						//background: rgba(170, 206, 241, 0.3);
					}
				}
			}
		}
	}
	.work {
		width: 100%;
		float: left;
		padding: 0 0 0 0;
		@include clearfix;
		@include bp(neptune) {
			width: 100%;
			text-align: center;
		}
		.recent-work {
			background: url('../images/content/sanaii.png') no-repeat;
			background-size: cover;
		}
		.wrapper {
			width: 100%;
			h2 {
				display: inline-block;
				font-size: 32px;
				padding: 0 5px;
				margin: 0 0 50px 5%;
				color: $white;
				@include bp(neptune) {
					float: left;
				}
			}
		}
		p {
			padding: 0 0 75px 0;
			color: $white;
			text-align: center;
			@include font-stack-brand;
			@include bp(mercury) {
				font-size: 16px;
			}
		}
	}
	.work:hover .wrapper h2, .work:focus .wrapper h2 {
		//box-shadow: 0 0 5px 0;
	}
	.project {
		float: left;
		width: 100%;
		padding: 0 0 0 0;
		@include bp(neptune) {
			width: 100%;
			text-align: center;
			//border-top: 2px solid $blue;
		}
		.recent-work {
			background: url('../images/content/moviewake.png') no-repeat;
			background-size: cover;
		}
		p {
			padding: 0 0 75px 0;
			color: $white;
			text-align: center;
			@include font-stack-brand;
			@include bp(mercury) {
				font-size: 16px;
			}
		}
	}
	.project:hover .wrapper h2, .project:focus .wrapper h2 {
		//box-shadow: 0 0 5px 0;
	}
}

.arrow-down {
	.arrow-icon {
		fill: $blue;
		width: 100px;
		height: 100px;
		@include bp(venus) {
			width: 50px;
			height: 50px;
		}
	}
}

.wrapper {
	display: inline-block;
}

.portfolio-wrap {
	max-width: 1280px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	h2 {
		font-size: 40px;
		margin: 50px 0 0 0;
		color: $morange;
		text-align: center;
		@include font-stack-brand;
	}
	p {
		color: $white;
		text-align: center;
		@include font-stack-brand;
	}
}

.bio-strike-outside {
	width: 135px!important;  //overide index page line strikes
	@include bp(neptune) {
		width: 75px!important;
		margin: 75px 5px -25px 5px;
	}
}
.bio-strike-inside {
	width: 60px;
	height: 50px;
	margin: 50px 5px -25px 5px;
	border-top: 1px dotted $gray;
	@include bp(neptune) {
		width: 50px;
		margin: 75px 5px -25px 5px;
	}
}

.work-description {
	width: 50%;
	padding: 175px 50px;
	line-height: 1.2;
	float: right;
	@include bp(neptune) {
		padding: 100px 50px;
	}
	@include bp(earth) {
		padding: 50px;
		font-size: 20px;
	}
	@include bp(venus) {
		width: 100%;
		padding: 10px 50px;
		text-align: center;
	}
}

.project-description {
	width: 50%;
	padding: 175px 50px;
	line-height: 1.2;
	float: left;
	@include bp(neptune) {
		padding: 100px 50px;
	}
	@include bp(earth) {
		padding: 50px;
		font-size: 20px;
	}
	@include bp(venus) {
		width: 100%;
		padding: 10px 50px;
		text-align: center;
		display: none;
	}
}

.project-hidden-description {
	width: 100%;
	padding: 10px 50px;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	display: none;
	@include bp(venus) {
		display: block;
	}
}

.project-description,
.work-description {

}

.recent-item {
	position: relative;
	//box-shadow: 0 0 2px 0;
	width: 50%;
	margin: 5% 0;
	float: left;
	//background: darken($white, 2);
	@include bp(venus) {
		width: 100%;
		margin: 0;
	}
	a {
		padding: 0 5% 0 0;
		.recent-work {
			z-index: -50;
			display: block;
			margin: 0 auto;
			cursor: default;
			width: 400px;
			height: 400px;
			border: 5px solid $black;
			@include bp(neptune) {
				height: 350px;
				width: 350px;
			}
			@include bp(earth) {
				height: 250px;
				width: 250px;
			}
			@include bp(mercury) {
				height: 225px;
				width: 225px;
			}
			.img-layer {
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 50;
				display: inline-block;
				background-color: darken(rgba(112, 130, 132, .8), 30%);
				opacity: 0;
				@include bp(mercury) {
					opacity: 1;
				}
				> span {
					padding: 10px 0 0 0;
					margin: 40% 0 0 0;
					font-weight: 700;
					font-size: 32px;
					color: $blue;
					background: rgba(248, 248, 248, .6);
					display: block;
					text-align: center;
					@include bp(neptune) {
						font-size: 20px;
						margin: 35% 0 0 0;
					}
					&:last-child {
						padding: 10px 0;
						margin: 0;
						font-size: 24px;
						@include bp(neptune) {
							font-size: 16px;
						}
					}
				}
			}
		}
		.recent-work:hover, .recent-work:focus {
			border: 5px solid $black;
		}
		.recent-work:hover .img-layer, .recent-work:focus .img-layer {
			opacity: 1;
			transition: opacity .25s ease;
			cursor: pointer;
			@include bp(mercury) {
				opacity: 1;
			}
		}
	}
	a:hover, a:focus {
		cursor: default;
	}
	p {
		margin-top: 25px;
		width: 70%;
		margin: 25px 15% 0 15%;
		line-height: 1.2;
		font-size: 20px;
		color: $gray!important;
	}
}

.blog {
	background: $mblack;
	float: left;
	width: 100%;
	padding: 50px 0 100px 0;
	@include bp(earth) {
		padding: 50px 0;
	}
	.blog-post-wrap {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 0 50px 0;
		.wrapper {
			width: 100%;
			h1 {
				font-size: 36px;
				line-height: 1;
				margin: 50px 0 10px 0;
				color: $morange;
				text-align: center;
				//display: inline-block;
				@include font-stack-brand;
				@include bp(earth) {
					margin: 0 0 10px 0;
				}
			}
			p {
				color: $white;
				text-align: center;
				@include font-stack-brand;
			}
		}
		.blog-post {
			position: relative;
			float: left;
			margin: 50px 2.3% 50px 2.3%;
			box-shadow: 0 0 2px 0;
			width: 45%;
			//min-height: 350px;
			background: $white;
			@include bp(earth) {
				width: 90%;
				margin: 50px 5%;
			}
			&:hover, &:focus {
				cursor: default;
			}
			.blog-head-banner {
				width: 100%;
				padding: 5px 10px 0 10px;
				margin: 15px 0;
				display: block;
				border-top: 2px solid lighten($gray, 10);
				border-bottom: 2px solid lighten($gray, 10);
				background: lighten($gray, 15);
				@include clearfix;
				.name-post-blog {
					line-height: 1;
					font-size: 32px;
					font-weight: 700;
					float: left;
					width: 85%;
					@include font-stack-body;
					@include bp(venus) {
						font-size: 24px;
						padding: 2.5px 0 0 0;
					}
					&:hover, &:focus {
						color: $black;
					}
				}
				.blog-post-reply-count {
					float: right;
					text-align: right;
					line-height: 1;
					width: 10%;
					@include font-stack-body;
					> svg {
						fill: $blue;
						height: 35px;
						width: 35px;
						display: inline;
						@include bp(venus) {
							height: 30px;
							width: 30px;
						}
						&:hover, &:focus {
							fill: $black;
							transition: .15s fill linear;
						}
					}
				}
			}
			p {
				line-height: 1.3;
				font-size: 20px;
				@include bp(venus) {
					font-size: 16px;
				}
			}
			h3 {
				font-style: italic;
				font-size: 16px;
				margin: 0 0 10px 0;
			}
			.blog-post-meta {
				@include clearfix;
				a {
					display: inline-block;
					float: left;
					h5 {
						color: $blue;
					}
				}
				h3 {
					padding: 5px 15px 0 0;
					display: inline-block;
					float: right;
					color: $gray;
				}
			}
		}
	}
}

.blog:hover .wrapper h1, .blog:focus .wrapper h1 {
		//box-shadow: 0 0 5px 0;
}

.strikethrough {
	width: 100%;
	line-height: .05;
	text-align: center;
	color: $white;
	font-size: 48px;
	padding: 100px 0 0 0;
	> span {
		@include font-stack-body;
	}
}
.strikethrough span {
	display: inline-block;
	position: relative;
}
.strikethrough span:before,
.strikethrough span:after {
	content: " ";
	position: absolute;
	top: 0;
}
.strikethrough span:before {
	right: 100%;
	margin: 0 20px 0 0;
	@include bp(venus) {
		margin: 0 5px 0 0;
	}
}
.strikethrough span:after {
	left: 100%;
	margin: 0 0 0 20px;
	@include bp(venus) {
		margin: 0 0 0 5px;
	}
}

.contact-form {
	box-shadow: 0 -1px 20px 0;
	overflow: hidden;
	float: left;
	width: 100%;
	background: $strongblue;
	@include clearfix;
	.contact-heading {
		> span {
			color: $morange;
			font-size: 40px;
			@include font-stack-brand;
		}
	}
	.contact-heading span:before,
	.contact-heading span:after {
		border-top: 1px dotted darken($gray, 15);
		width: 100%;
		@include bp(neptune) {
			width: 50%;
		}
		@include bp(venus) {
			width: 25%;
		}
	}
	.contact-form-wrapper {
		padding: 15px 0 25px 0;
		max-width: 1280px;
		display: block;
		margin: 50px auto 0 auto;
		@include bp(earth) {
			padding: 10px 0 0 0;
		}
		ul {
			width: 100%;
			max-width: 960px;
			display: block;
			padding: 25px 0;
			margin: 0 auto;
			@include clearfix;
			li {
				margin: 0 10% 15px 10%;
				display: block;
				float: left;
				width: 80%;
				&:last-child { margin: 0 10%; }
				label {
					display: block;
					color: $gray;
					font-size: 24px;
					padding: 0 0 5px 0;
				}
				> span {
					width: 100%;
					font-size: 24px;
					display: inline-block;
					input {
						font-size: 24px;
						color: darken($white, 20);
						margin: 0 25px 0 0;
						width: 100%;
						height: 50px;
						padding: 10px 0 10px 15px;
						border: 4px solid $blue;
						background: $black;
						@include font-stack-body;
						&:focus {
							box-shadow: none;
							background: darken($black, 1);
						}
					}
					input::-webkit-input-placeholder {
						color: darken($gray, 20);
						font-size: 16px;
						padding: 10px 0 0 5px;
					}
					input:focus::-webkit-input-placeholder {
						transition: opacity 0.1s 0.1s linear;
						opacity: 0;
					}
				}
				> .first-span {
					margin: 0 0 15px 0;
				}
				input {
					padding: 4px 0;
					width: 100%;
					height: 50px;
					padding: 10px 0 10px 15px;
					font-size: 24px;
					color: darken($white, 20);
					box-sizing: border-box;
					border: 4px solid $blue;
					background: $black;
					@include font-stack-body;
					&:focus {
						box-shadow: none;
						outline: 0;
						background: darken($black, 1);
					}
				}
				input::-webkit-input-placeholder {
					color: darken($gray, 20);
					font-size: 16px;
					padding: 10px 0 0 5px;
				}
				input:focus::-webkit-input-placeholder {
					transition: opacity 0.1s 0.1s linear;
					opacity: 0;
				}
				.msg-box {
					display: inline-block;
					width: 100%;
					padding: 0;
					margin: 0;
					textarea {
						padding: 10px 0 10px 15px;
						font-size: 24px;
						color: darken($white, 20);
						height: 200px;
						box-sizing: border-box;
						width: 100%;
						border: 4px solid $blue;
						background: $black;
						@include font-stack-body;
						&:focus {
							box-shadow: none;
							background: darken($black, 1);
							outline: 0;
						}
					}
					textarea::-webkit-input-placeholder {
						color: darken($gray, 20);
						font-size: 16px;
						padding: 10px 0 0 5px;
					}
					textarea:focus::-webkit-input-placeholder {
						transition: opacity 0.1s 0.1s linear;
						opacity: 0;
					}
				}
			}
			.buttons {
				.submit-button {
					width: 100%;
					.submit {
						border: 4px solid $blue;
						width: 100%;
						height: 60px;
						line-height: 1;
						font-size: 24px;
						padding: 4px 0 4px 0;
						background: $blue url('../images/content/svg/send-opt.svg') no-repeat center;
						cursor: pointer;
						.submit-icon-wrap {
							display: inline-block;
							.submit-ico {
								padding: 0 0 5px 0;
								fill: $black;
								display: block;
								margin: 0 auto;
							}
						}
						&:hover, &:focus {
							outline: 0;
							box-shadow: none;
							border: 4px solid darken($blue, 20);
							transition: border .25s linear;
							background: darken($blue, 20);
							transition: background .25s linear;
						}
						&:hover .submit-icon-wrap .submit-ico, &:focus .submit-icon-wrap .submit-ico {
							fill: $white;
							transition: fill .25s linear;
						}
					}
				}
			}
		}
	}
}

.my-social {
	width: 740px;
	margin: 0 auto;
	text-align: center;
	@include clearfix;
	@include bp(neptune) {
		width: 490px;
		margin: 0 auto 50px auto;
	}
	@include bp(venus) {
		width: 340px;
		margin: 0 auto 35px auto;
	}
	@include bp(mercury) {
		width: 375px;
	}
	.foot-social {
		display: block;
		@include clearfix;
		.foot-list-item {
			display: inline-block;
			float: left;
		}
		.foot-connect {
			display: inline-block;
			width: 75px;
			height: 50px;
			margin: 50px 5px -25px 5px;
			border-top: 1px dotted darken($gray, 15);
			@include bp(neptune) {
				width: 50px;
			}
			@include bp(venus) {
				width: 25px;
			}
		}
		.left-connect {
			width: 200px;
			@include bp(neptune) {
				width: 100px;
			}
			@include bp(venus) {
				width: 50px;
			}
			@include bp(mercury) {
				width: 40px;
			}
		}
		.right-connect {
			width: 200px;
			@include bp(neptune) {
				width: 100px;
			}
			@include bp(venus) {
				width: 50px;
			}
			@include bp(mercury) {
				width: 40px;
			}
		}
		.foot-icon {
			width: 50px;
			padding: 0;
			margin: 25px 0 0 0;
			fill: none;
			.inner-icon {
				fill: $gray;
			}
		}
		@include bp(mercury) {
			.facebook {
				.inner-icon {
					fill: $facebookblue;
					transition: fill 0.1s linear;
				}
			}
			.linkedin {
				.inner-icon {
					fill: $linkedinblue;
				}
			}
			.twitter {
				.inner-icon {
					fill: $twitterblue;
				}
			}
		}
		.facebook:hover, .facebook:focus {
			.inner-icon {
				fill: $facebookblue;
				transition: fill 0.1s linear;
			}
		}
		.linkedin:hover, .linkedin:focus {
			.inner-icon {
				fill: $linkedinblue;
			}
		}
		.twitter:hover, .twitter:focus {
			.inner-icon {
				fill: $twitterblue;
			}
		}
	}
}

footer {
	float: left;
	width: 100%;
	height: 100%;
	margin: 0;
	display: inline-block;
	//box-shadow: 0 0 2px 0 $gray;
	background: $mblack;
	.foot-wrap {
		width: 100%;
		max-width: 1280px;
		display: block;
		margin: 0 auto;
		height: 100px;
		padding: 40px 0 0 0;
		@include clearfix;
		.copyright {
			float: left;
			padding: 0 0 0 25px;
			@include bp(earth) {
				width: 100%;
				text-align: center;
				padding: 0;
			}
			p {
				color: $gray;
				font-size: 14px;
				@include bp(mercury) {
					font-size: 12px;
				}
			}
		}
		.author-note {
			float: right;
			padding: 0 25px 0 0;
			p {
				color: $gray;
				font-size: 14px;
				a {
					color: $blue;
					font-size: 14px;
				}
			}
			@include bp(earth) {
				display: none;
			}
		}
	}
}