$white					: #F8F8F8;			//jcs
$dblack				: #030200;			//jcs  3,2 0
$gold					: #BA9E76;		//jcs
$black					: #222222;			//jcs
$lblack					:#2E2E2E;			//jcs
$lightgray      			: #819090;			//solarized
$gray           			: #ABABAB;			//solarized
$mediumgray     		: #DCDBDD;			//solarized
$darkgray       			: #475B62;			//solarized

$lightred				: #CE6A4D;		//jcs
$red					: #E74C3C;			//jcs  231,75,60 or 132,32,29
$strongred      			: #D11C24;		//solarized
$lighterorange			: #FAB737;		//jcs
$lightorange			: #CA7740;		//jcs  202,119,64
$orange         			: #BD3613;		//solarized
$paleryellow    			: #FCF4DC;		//solarized
$paleyellow     			: #EAE3CB;		//solarized
$yellow         			: #A57706;			//solarized
$strongyellow			: #FBD645;		//jcs  251,214,70
$lightgreen				: #90B4B0;			//jcs
$green	 				: #6EBB5C;		//jcs  110,187,92
$darkgreen      		: #738A05;			//solarized
$cyan           			: #259286;			//solarized
$lightblue				: #7587A6;			//jcs  117,135,166
$blue         				: #2176C7;			//solarized
$strongerblue			: #28E6F7;			//jcs
$darkblue       			: #0A2933;			//solarized
$darkerblue     			: #042029;			//solarized
$pink           			: #C61C6F;		//solarized
$lightpurple			: #9B859D;		//jcs 155,133,157
$purple         			: #BA54B3;		//solarized
$darkpurple			:#595AB7;			//jcs
$strongpurple   		: #EC77E6;		//jcs

$logoyellow			:#D6BE00;			//jcs
$logoorange			:#C68900;			//jcs
$linkedinblue			:#1B86BC;			//jcs
$twitterblue			:#55ACEE;			//jcs
$facebookblue			:#4A66A0;			//jcs

$strongblue			: #292B33;			//jcs
$mblack				:#242424;			//jcs
$lineblue				:#204D77; 			//jcs
$morange				:#F7941E;			//jcs